.page {
    display: flex;
    /* Rows */
}

.title {
    width: 100%;
    align-self: stretch;
    padding: 0 32px;
    box-sizing: border-box;
    /* Intro Page "Research" */
}

.title h1 {
    font-size: 88px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.76px;
    margin: 0;
    text-align: center;
}

.recent {
    width: 100%;
    align-self: stretch;
    padding: 0 32px;
    box-sizing: border-box;
}

.recent-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.recent-title h2 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -0.96px;
    margin: 0;
}

.recent-title > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.recent-title p {
    margin: 0;
    padding: 16px 24px;
    border-radius: 999px;
    background-color: #111;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}



